html {
    background-color: #f2fdff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}   

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

header {

    background-color: #f2fdff;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
    margin: 1rem 0;
}

#major {
    margin: 0;
    font-size: 2rem;
    color: #564787;
}

#summary {
    font-size: 1.5rem;
}

.Titles {
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
}

.BasicText {
    text-align: center;
    font-size: 1.25rem;
    margin: 0;
}

#BasicEducationInfo {
    list-style-type: disc;
    margin-top: 5rem;
}

.edu {
    width: 50%;
    float: left;
    height: 14rem;
}

.separator {
    border-bottom: 3px solid #564787;
    height: 30px;
    width: 100%;
    margin: 4rem auto;
}
