---
import Social from './Social.astro';
---
<div id="head">
    <a href="#title">About</a>
    <a href="#skills">Skills</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#education">Education</a>
    <Social platform="github" username="Travingu"/>
</div>

<style>
    a {
        padding: 0.5rem 1rem;
        color: #f2fdff;
        background-color: #564787;
        text-decoration: none;
        border-radius: 10px;
        transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out;
    }

    a:hover {
        color: #a89dce;
        font-size: 1.2rem;
    }
    
    #head {
        padding: 2rem;
        background-color: #f2fdff;
        top: 0rem;
        position: sticky;
        top: 0;
        z-index: 100;
    }

</style>