---
---
<a href="#title">About</a>
<a href="#skills">Skills</a>
<a href="#experience">Experience</a>
<a href="#projects">Projects</a>
<a href="#education">Education</a>

<style>
    a {
        padding: 0.5rem 1rem;
        color: #f2fdff;
        background-color: #564787;
        text-decoration: none;
    }

    html {
        position: sticky;
    }
</style>