---
export interface Props {
    title: string
    skills: string[];
}
const { title, skills } = Astro.props as Props;
---
<button class="box skill-trigger">
    <h3 class="titleBoxes">{title}</h3>
    <div class="hidden-content">
        {skills.map((skill) => <p class="BasicText language">{skill}</p>)} 
    </div>
</button>

<style>
    .box {
        background-color: #a89dce;
        border-radius: 15px;
        margin: 0;
        padding: 1.5rem 1rem;
        text-align: center;
        border: none;
        width: 100%;
        cursor: pointer;
        font-family: inherit;
        transition: transform 0.2s ease;
    }
        
    .titleBoxes {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
        font-size: 1rem;
        color: inherit;
    }

    .box:hover {
        transform: scale(1.05);
    }

    .language {
        margin: 0.5rem 0.5rem;
        background-color: #564787;
        width: fit-content;
        padding: 0.25rem 1rem;
        border-radius: 10px;
        display: inline-flex;
        color: #f2fdff;
        transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out;
    }

    .language:hover {
        font-size: 1.5rem;
        color: #a89dce;
    }

    .hidden-content {
        display: none;
    }

</style>
