---
const { platform, username } = Astro.props
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
        color: #00100B;
        border: 1px solid #564787;
        padding: 0.5rem;
        text-decoration: none;
        text-transform: capitalize;
        top: 1rem;
        position: sticky;
    }
</style>